* {
    font-family: Gilroy;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
}

/*#region NAVBAR*/


#nav {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    width: 1920px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.l-con {
    float: left;
    height: 50px;
    width: 500px;
    background-color: white;
    border-radius: 60px;
    box-shadow: 3px 4px 6px rgba($color: #FFAFA3, $alpha: 0.6);
}

.r-con {
    height: 50px;
    width: 500px;
    margin-left: auto;
    background-color: white;
    border-radius: 60px;
    box-shadow: 3px 4px 6px rgba($color: #FFAFA3, $alpha: 0.6);
}

.nav-list{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0px;
    padding: 5px 0px 0px 0px;

    li {
        cursor: pointer;
        margin: 0px;
        color: #FFAFA3;
        font-size: 28px;
        font-weight: bold;
    }
}

#find-me-here {
    cursor: default;
}

#l-list {
    padding: 5px 30px 0px 30px !important;
}

/*#endregion NAVBAR*/

/*#region INTRO*/

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 1920px;
    height: 500px;
}

.l-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 150px;
    font-weight: bold;
    color: #FFAFA3;

}

.r-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.intro-img {
    position: absolute;
}

.intro-back-circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #FFAFA3;

}


/*#endregion INTRO*/

/*#region WORK*/

.work-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1920px;
    height: auto;

}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
    color: #FFAFA3;
    font-size: 20px;
}

#title {
    position: absolute;
    z-index: 5;
}

.work-line-out {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: white;
    z-index: 2;
}

.work-line {
    position: absolute;
    height: 1px;
    width: 1920px;;
    background-color:#DEDEDE;
    z-index: 1;
}

/*#endregion WORK*/

/*#region WORK-blocks*/

#work-blocks-main {
    width: 100%;
    height: auto;
}

#row-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1920px;
    height: 400px;
    // padding: 0px 30px 0px 30px;
    margin-bottom: 30px;
}

.row1-left {
    height: 100%;
    width: 1330px;
    border-radius: 15px;
    margin-left: 30px;
    background-color: lightblue;
}

.row1-right {
    height: 100%;
    width: 500px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    background-color:  lightblue;
}

#row-2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 830px;
    margin-bottom: 30px;
}

.row2-left {
    height: 100%;
    width: 500px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: lightblue;
}

.row2-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 1387px;
    margin-left: 30px;
    margin-right: 30px;
}

.r2-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    margin-top: 0;
}

.r2-top-left {
    height: 100%;
    width: 400px;
    border-radius: 15px;
    margin-right: 30px;
    background-color:lightblue;
}

.r2-top-right {
    height: 100%;
    width: 950px;
    border-radius: 15px;
    margin-left: auto;
    background-color:lightblue;
}


.r2-bottom {
    width: 100%;
    height: 400px;
    margin-top: auto;
    background-color: orange;
}


#row-3{
    width: 100%;
    height: 400px;
    background-color: green;
}

/*#endregion WORK-blocks*/

/*#region contact*/
.contact-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1920px;
    height: auto;

}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
    color: #FFAFA3;
    font-size: 20px;
}

#contact-title {
    position: absolute;
    z-index: 5;
}

.contact-line-out {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: white;
    z-index: 2;
}

.contact-line {
    position: absolute;
    height: 1px;
    width: 1920px;;
    background-color:#DEDEDE;
    z-index: 1;
}
/*#endregion contact*/

/*#region contact-me*/

#contact-me {
    height: 600px;
    width: 100%;
    background-color: #FFAFA3;
}

/*#endregion contact-me*/

/*#region copyright*/

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1920px;
    color: #FFAFA3;
}


/*#endregion copyright*/




























