// main elements
#acid-info {
    // background-image: url(/Images/png/acidMage/toplayer.png);
    // background-size: 100%;
    // background-repeat: no-repeat;
    // background-position: top;
    height: 600px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 0;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;

    img{
        width: 30%;
        height: auto;
    }
}

.acid-premise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;

    p {
        width: 84%;
        margin-top: -135px;
        font-size: 20px;
        line-height: 30px;
    }
}

.Aheader-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;

    h1 {
        font-size: 30px;
        margin: 0;
    }


}

#acid-pi-r {
    height: 900px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: #E04C73;
    border-radius: 50%;
    margin-right: 30px;
}

// the brief the problem 
.theBrief {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 1085px;
    width: 90%;
}

.bTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.bBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.bLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;

    h1 {
        height: 20%;
    }

    p {
        height: 80%;
        width: 69%;
        font-size: 18px;
        line-height: 25px;
    }
}

.bRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;

    h1 {
        height: 20%;
    }

    p {
        height: 80%;
        width: 69%;
        font-size: 18px;
        line-height: 25px;
    }
}



// background elements
#bkg-elem {
    height: 900px;
    margin-bottom: 100px;
}

.background-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 900px;
}

#background-header {
    flex-wrap: wrap;
    height: 15%;
    width: 100%;

    p {
        height: 50%;
        width: 100%;
        padding-left: 40px;
        }
}

#aback-con{
    height: 900px;
}

.back-video-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    overflow: hidden;


}

.inner-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 85%;
    width: 60%;
    border-radius: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.07);
    overflow: hidden;

    video {
        height: 90%;
        width: 100%;
    }

}

#bkg-card-title {
    height: 10%;
}


// platform elements
#platform-elements {
    height: 1400px;
    margin-bottom: 100px;

    #background-header {
        height: 10%;
    }
}

.Acards-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
}

.Acard-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 30%;
    width: 30%;
    border-radius: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.07);

}

.Acard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;

    img {
        height: 100%;
        width: auto;
    }
}

.Acard-title {
    height: 20%;
    width: 100%;
    border-radius: 0 0 15px 15px;
    box-shadow: -2px -3px 15px rgba(0, 0, 0, 0.07);
}

#platform-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    h1 {
        font-size: 18px;
        font-weight: 300;
    }
    .red-dot {
        margin-left: 30px;
        margin-right: 10px;
    }
}


// platform post 
#Acard-vid {
    width: 35%;
    overflow: hidden;
    video {
        height: auto;
        width: 100%;
    }
}

// level design

#level-elements {
    height: 1000px;
    margin-bottom: 100px;

    #Acard-vid {
        height: 45%;
    }
}

#Ccard-img {

    img {
        height: 80%;
    }
}

#HeroCard-con { 

    #Acard-vid {
        width: 35%;
    }
}



#hero-anim-elements {
    height: 1500px;
    margin-bottom: 100px;
}

// final charcter design
#character-final-elements {
    height: 800px;
    margin-bottom: 100px;
}

#CF-con {
        height: 75%;
        width: 40%;
}

#sprite-img {
    height: auto;
    width: 90%;
}


// enemy elements
#enemy-elem {
    height: 900px;
}

#enemy-elements {
    height: 900px;
    margin-bottom: 100px;
}

#enemy-card {
    height: 41%;
    width: 27%;
}

#enemy-inner-vid {
    height: 64%;
    width: 45%;
}

#enemy-vid-con {
    justify-content: space-evenly;
}


#acid-more {
     
    a {
        color: #e17287;
    }

    a:hover {
        border-bottom: 5px solid #e17287;
    }
}





#acid-title {
    font-size: 40px;
}

#acid-ph-l {
    background-color: #e17287;
}

#acid-header-right-image {
    background-image: url(/Images/png/hat-logo.png);
    background-color: #e17287;
}

#acid-tags {
    color: #e17287;
}

#acid-title-con {
    width: 90%;
}

#acid-header {
    h1 {
        color: #e17287;
        margin-top: -50px;
    }
}

#acid-bluebar {
    background-color: #e17287;
}

.level-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 800px;
    width: 90%;
}

.level-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30%;
    width: 100%;

    h1 {
        width: 40%;
        display: flex;
        justify-content: center;
        font-size: 70px;
        border-bottom: 10px solid #e17287;
    }

    p {
        text-align: center;
        width: 100%;
        margin: 0;
        font-size: 25px;
        line-height: 35px;
    }
}

.level-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
}

.level-video-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 48%;

    video {
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
}

#back-title {
    height: 20%;
    h1 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

#plat-title {
    height: 15%;
    h1 {
        width: 40%;
        display: flex;
        justify-content: center;
    }
}


#aplat-con{
    height: 1700px;
}

#back-content {
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

#plat-content {
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.level-img {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 30%;
    width: 30%;

    img {
        height: 100%;
        width: auto;
    }
}

#plat-post-content {
    height: 1000px;
}

#plat-img {
    height: 25%;
    img {
        height: auto;
        width: 100%;
    }
}

#post-vid-con {
    height: 30%;
    width: 30%;
    border-radius: 15px;
}

#plat-post-info {
    h1 {
        width: 55%;
        display: flex;
        justify-content: center;
    }
}

#initial-title {
    height: 25%;
    h1 {
        width: 40%;
        display: flex;
        justify-content: center;
    }
}

#g-con {
    height: 1000px;
    flex-direction: column-reverse;
}

#g-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#g-c-con {
    height: 30%;
    width: 25%;

    img {
        height: 100%;
        width: auto;
    }
}

#render {
    height: 100%;
    width: auto;
}

#sprite {
    height: auto;
    width: 100%;
}

#g-s-con {
    height: 100%;
    width: 45%;
}

#ha-title {
    height: 15%;
    h1 {
        width: 40%;
        display: flex;
        justify-content: center;
    }
}

#g-a-con {
    height: 30%;
    width: 30%;

    video {
        height: auto;
        width: 100%;
    }
}

.g-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 0 2% 0 2%;

    #g-a-con {
        width: 49%;
        height: auto;
    }
}

.g-row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;

    #GAV-con {
        height: 70%;

        h1 {
            height: 15%;
            font-size: 30px;
        }

        p {
            height: 15%;
            font-size: 18px;
        }
    }
    
}

#GAV-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .ga-video-con {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }

    video {
        height: auto;
        width: 95%;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 55%;
        margin: 0 35% 0 0;
        font-size: 50px;
        padding: auto;
        border-bottom: 4px solid #e17287;
    }

    p{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 10%;
        width: 100%;
        padding-left: 5%;
        margin: 0;
        font-size: 20px;
        line-height: 30px;
    }
}


#ga-content {
    height: 85%;
}

#ga-con {
    height: 1500px;
}

#enemy-con {
    height: 30%;
    width: 30%;

    img {
        height: 100%;
        width: auto;
    }
}


#enemy-title {
    height: 25%;
    h1 {
        width: 40%;
        display: flex;
        justify-content: center;
    }
}

#acid-pi-l {
    height: 900px;
}


@media only screen and (min-width: 1025px) and (max-width:1440px) { 
    .inner-vid  {
        height: 77%;
        width: 75%;
    }
    
    .Acard-img img {
        height: 80%;
    }

    #Acard-vid {
        width: 45%;
    }

    #enemy-inner-vid {
        height: 43%;
        width: 42%;
    }


}



