/*#region projects*/
#style-guide {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#style-guide .style-image {
  width: 30%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.ph-LB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5%;
  height: 100%;
}

.ph-L {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 45%;
  border-radius: 15px 0px 0px 15px;
  background-color: #4F86F5;
}

.ph-L-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50%;
  width: 100%;
  font-size: 70px;
  color: #fff;
  font-weight: 800;
}

.ph-L-title h1 {
  margin: 0;
  text-align: center;
}

.ph-L-subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-weight: 400;
}

.l-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #FFAFA3;
  font-size: 25px;
  -webkit-box-shadow: 3px 4px 6px rgba(255, 175, 163, 0.6);
          box-shadow: 3px 4px 6px rgba(255, 175, 163, 0.6);
}

.l-button:hover {
  cursor: pointer;
}

.ph-R {
  height: 100%;
  width: 45%;
  background-color: #4F86F5;
  background-image: url(/Images/png/erin-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 0px 15px 15px 0px;
}

.ph-RB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5%;
  height: 100%;
}

.r-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #FFAFA3;
  font-size: 25px;
  -webkit-box-shadow: 3px 4px 6px rgba(255, 175, 163, 0.6);
          box-shadow: 3px 4px 6px rgba(255, 175, 163, 0.6);
}

.r-button:hover {
  cursor: pointer;
}

.project-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 90%;
  color: #4F86F5;
  font-weight: 800;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding: 0 5% 0 5%;
}

.pi-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 800px;
  width: 50%;
  margin-bottom: 30px;
}

.pi-l div {
  width: 100%;
}

.pi-l p {
  padding-right: 5%;
  font-size: 18px;
  line-height: 28px;
}

.pi-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 800px;
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
}

.pi-r img {
  height: 110%;
  width: auto;
}

.personas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  height: auto;
  padding: 0 5% 0 5%;
}

#personas-title {
  width: 90%;
  margin-top: 100px;
}

.p-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  width: 80%;
  margin-top: 30px;
  overflow: hidden;
}

.p-image img {
  height: 100%;
  width: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#inner-img {
  height: auto;
  width: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.title-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  width: 100%;
}

.title-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.title-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  width: 100%;
  text-align: center;
  font-size: 70px;
  margin: 0;
  color: #4f86f5;
}

.title-header p {
  height: 40%;
  width: 35%;
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.p-whiteout {
  height: 50%;
  width: 600px;
  margin: auto;
  margin-top: -200px;
  background-color: white;
  z-index: 1;
}

.bluebar {
  width: 100%;
  height: 25px;
  margin-top: -250px;
  border-radius: 15px;
  background-color: #4f86f5;
}

.userFlow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0 5% 0 5%;
}

.userFlow-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 90%;
}

.userFlow-img img {
  border-radius: 15px;
  width: 100%;
}

.onboarding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5% 0 5%;
}

.ob-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 600px;
  width: 90%;
  margin-bottom: 30px;
}

.ob-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 600px;
  width: 90%;
}

.row-explainer {
  height: auto;
  width: 15%;
}

.row-explainer p {
  font-size: 18px;
  line-height: 23px;
}

.anim-layer {
  pointer-events: none;
  height: 100% !important;
  width: 100% !important;
}

.row-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 28%;
}

.row-image img {
  height: 97%;
  width: auto;
}

.home-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 900px;
  width: 100%;
  overflow: hidden;
}

.home-img-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  width: 30%;
  z-index: 2;
}

.anim-layer-large {
  height: auto !important;
  width: 80% !important;
  pointer-events: none;
}

.home-explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50%;
  width: 30%;
  z-index: 2;
}

.home-explain h1 {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 60px;
  padding-top: 100px;
}

.home-explain p {
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}

.backblue {
  height: 700px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: -600px;
  background-color: #4f86f5;
  z-index: 1;
}

.home-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  height: 50%;
  padding-top: 150px;
  z-index: 2;
}

.home-cards img {
  height: auto;
  width: 30%;
}

.noti-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 900px;
  width: 100%;
  margin-top: -22px;
}

.noti-explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 600px;
  margin-top: -160px;
  z-index: 2;
}

.noti-explain h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #fff;
  font-size: 70px;
}

.noti-explain p {
  height: 50%;
  width: 65%;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}

.noti-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
  z-index: 2;
}

.blackblue2 {
  height: 69%;
  width: 100%;
  margin-top: -1135px;
  border-radius: 0px 0px 15px 15px;
  background-color: #4f86f5;
  z-index: 1;
}

.stats-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  margin-top: -22px;
  background-color: #4f86f5;
}

.stats-explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 600px;
}

.stats-explain h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #fff;
  font-size: 70px;
}

.stats-explain p {
  height: 50%;
  width: 55%;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}

.stats-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
}

#whiteout-noti {
  width: 800px;
}

.style-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 50%;
}

.style-image img {
  width: 100%;
}

.case-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 800px;
  width: 100%;
  margin-top: 200px;
}

.case-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 40%;
  z-index: 2;
}

.case-heading h1 {
  text-align: center;
  height: auto;
  width: 100%;
  font-size: 70px;
  color: #fff;
}

.case-heading p {
  height: auto;
  width: 60%;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.laptop-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 60%;
  margin-top: 100px;
  z-index: 2;
}

.case-back {
  height: 100%;
  width: 100%;
  background-color: #4f86f5;
  border-radius: 15px;
  margin-top: -650px;
  z-index: 1;
}

.view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  margin: 0;
}

.view-more h1 {
  margin: 0;
}

.view-more a {
  text-decoration: none;
  font-size: 18px;
  color: #4f86f5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.view-more a:hover {
  border-bottom: 3px solid #4f86f5;
}

/*#endregion projects*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .p-image {
    width: 90%;
  }
  .p-image img {
    height: auto;
    width: 100%;
  }
  .stats-explain p {
    width: 73%;
  }
  .noti-explain p {
    width: 90%;
  }
  .style-image {
    width: 35%;
  }
  .ob-1 {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #laptop {
    width: 600px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .project-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .pi-r {
    width: 100%;
  }
  .pi-l {
    width: 100%;
  }
  .title-header p {
    width: 65%;
  }
  .p-image {
    height: 250px;
    width: 90%;
  }
  .p-image img {
    height: auto;
    width: 100%;
  }
  .onboarding {
    padding: 0;
  }
  .ob-1 {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 95%;
  }
  .ob-1 h1 {
    font-size: 22px;
  }
  .row-explainer h1 {
    font-size: 25px;
  }
  .row-explainer p {
    font-size: 16px;
  }
  .ob-2 {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 95%;
  }
  .ob-2 h1 {
    font-size: 22px;
  }
  .row-image img {
    height: auto;
    width: 100%;
  }
  .stats-explain p {
    width: 94%;
  }
  .stats-explain h1 {
    font-size: 65px;
  }
  .noti-explain h1 {
    font-size: 65px;
  }
  .noti-explain p {
    width: 94%;
  }
  .style-image {
    width: 40%;
  }
  .case-heading h1 {
    font-size: 60px;
  }
  .case-heading p {
    width: 79%;
  }
  #laptop {
    width: 500px;
  }
}
/*# sourceMappingURL=erin.css.map */