/*#region projects*/
#style-guide {
    justify-content: space-evenly;
    
    .style-image {
        width: 30%;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.project-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

.ph-LB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

.ph-L {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 45%;
    border-radius: 15px 0px 0px 15px;
    background-color: #4F86F5;
}

.ph-L-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    font-size: 70px;
    color: #fff;
    // margin-top: 15%;
    font-weight: 800;

    h1 {
        margin: 0;
        text-align: center;
    }
}

.ph-L-subtext {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    font-size: 20px;
    color: #fff;
    // margin-bottom: 30%;
    text-align: center;
    line-height: 14px;
    font-weight: 400;
}

.l-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color:#FFAFA3 ;
    font-size: 25px;
    box-shadow: 3px 4px 6px rgba($color: #FFAFA3, $alpha: 0.6);
}

.l-button:hover {
    cursor: pointer;
}

.ph-R {
    height: 100%;
    width: 45%;
    background-color: #4F86F5;
    background-image: url(/Images/png/erin-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 0px 15px 15px 0px;
}

.ph-RB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

.r-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color:#FFAFA3 ;
    font-size: 25px;
    box-shadow: 3px 4px 6px rgba($color: #FFAFA3, $alpha: 0.6);
}

.r-button:hover {
    cursor: pointer;
}

.project-tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 90%;
    color: #4F86F5;
    font-weight: 800;
}

.project-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 0 5% 0 5%;
}

.pi-l { 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 800px;
    width: 50%;
    margin-bottom: 30px;

    div {
        width: 100%;
    }

    p {
        padding-right: 5%;
        font-size: 18px;
        line-height: 28px;
    }
}

.pi-r { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 800px;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;

    img {
        height: 110%;
        width: auto;
    }
}


#laptop {

}

.personas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    height: auto;
    padding: 0 5% 0 5%;
}

#personas-title {
    width: 90%;
    margin-top: 100px;
}

.p-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    margin-top: 30px;
    overflow: hidden;

    img {
        height: 100%;
        width: auto;
        transition: 0.3s ease-in-out;
    }

}

// .p-image:hover {
//     img {
//         transform: scale(2);
//     }

    // #inner-img {
    //     transform: scale(2);
    // }


#inner-img {
    height: auto;
    width: auto;
    transition: 0.3s ease-in-out;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
  }

  .title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 2;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 100%;
        text-align: center;
        font-size: 70px;
        margin: 0;
        color: #4f86f5;
    }

    p {
        height: 40%;
        width: 35%;
        text-align: center;
        margin: 0;
        font-size: 18px;
    }
  }

  .p-whiteout {
      height: 50%;
      width: 600px;
      margin: auto;
      margin-top: -200px;
      background-color: white;
      z-index: 1;
  }

  .bluebar {
      width: 100%;
      height: 25px;
      margin-top: -250px;
      border-radius: 15px;
      background-color: #4f86f5;
  }

  .userFlow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 5% 0 5%;
  }

  .userFlow-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;

    img {
        border-radius: 15px;
        width: 100%;
    }
  }

  .onboarding {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 5% 0 5%;
  }

  .ob-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 600px;
      width: 90%;
      margin-bottom: 30px;
  }

  .ob-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 600px;
    width: 90%;
}

  .row-explainer {
      height: auto;
      width: 15%;

      p {
          font-size: 18px;
          line-height: 23px;
      }
  }

  .anim-layer {
      pointer-events: none;
      height: 100% !important;
      width: 100% !important;
  }

  .row-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 28%;

      img {
        height: 97%;
        width: auto;
      }
  }

  .home-con {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      height: 900px;
      width: 100%;
      overflow: hidden;
  }

  .home-img-con {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 800px;
      width: 30%;
      z-index: 2;
  }

  .anim-layer-large {
      height: auto !important;
      width: 80% !important;
      pointer-events: none;
  }
  
  .home-explain {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 50%;
      width: 30%;
      z-index: 2;

      h1 {
          text-align: center;
          width: 100%;
          color: #fff;
          font-size: 60px;
          padding-top: 100px;
      }

      p {
          width: 100%;
          color: #fff;
          font-size: 18px;
          line-height: 23px;
      }
  }

  .backblue {
      height: 700px ;
      width: 100% ;
      border-radius: 15px 15px 0px 0px;
      margin-top: -600px;
      background-color: #4f86f5;
      z-index: 1 ;
  }

  .home-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 30%;
      height: 50%;
      padding-top: 150px;
      z-index: 2;

      img {
          height: auto ;
          width: 30%;
      }
  }

  .noti-con {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      height: 900px;
      width: 100%;
      margin-top: -22px;
  }

  .noti-explain {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 50%;
      height: 600px;
      margin-top: -160px;
      z-index: 2;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 100px;
        color: #fff;
        font-size: 70px;
    }

    p {
        height: 50%;
        width: 65%;
        color: #fff;
        font-size: 18px;
        line-height: 23px;

    }

  }

  .noti-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: auto;
      z-index: 2;
  }

  .blackblue2 {
      height: 69%;
      width: 100%;
      margin-top: -1135px;
      border-radius: 0px 0px 15px 15px;
      background-color: #4f86f5;
      z-index: 1;
  }
  

  .stats-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: -22px;
    background-color: #4f86f5;
}

.stats-explain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 600px;

  h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: 100px;
      color: #fff;
      font-size: 70px;
  }

  p {
      height: 50%;
      width: 55%;
      color: #fff;
      font-size: 18px;
      line-height: 23px;

  }

}

.stats-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

#whiteout-noti {
    width: 800px;
}

.style-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;

    img {
        width: 100%;
    }
}

.case-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    margin-top: 200px;
}

.case-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
    z-index: 2;

    h1 {
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 70px;
        color: #fff;
    }

    p {
        height: auto;
        width: 60%;
        font-size: 18px;
        line-height: 23px;
        color: #fff;
    }
}

.laptop-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    margin-top: 100px;
    z-index: 2;
}

.case-back {
    height: 100%;
    width: 100%;
    background-color: #4f86f5;
    border-radius: 15px;
    margin-top: -650px;
    z-index: 1;
}

.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 0;

    h1 {
        margin: 0;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #4f86f5;
        transition: 0.3s ease-in-out;
    }

    a:hover {
        border-bottom: 3px solid #4f86f5;
    }
}


/*#endregion projects*/ 


// media 

@media only screen and (min-width: 1025px) and (max-width:1440px) {  
    // personas 
    .personas {
    }

    .p-image {
        width: 90%;

        img {
            height: auto;
            width: 100%;
        }
    }

    // stats 
    .stats-explain p {
        width: 73%;
    }

    // noti
    .noti-explain p  {
        width: 90%;
    }

    // style guide 
    .style-image  {
        width: 35%;

    }
    
    .ob-1 {
        justify-content: space-evenly;
    }

    // laptop 
    #laptop {
        width: 600px;
    }


}

@media only screen and (min-width: 0px) and (max-width:1024px) {  
    // project info
    .project-info {
        flex-direction: column-reverse;
    }

    .pi-r {
        width: 100%;
    }

    .pi-l {
        width: 100%;
    }

    // personas 
    .title-header p {
        width: 65%;
    }

    .p-image {
        height: 250px;
        width: 90%;

        img {
            height: auto;
            width: 100%;
        }
    }

    // onboarding {
    .onboarding {
        padding: 0;
    }

    .ob-1 {
        justify-content: space-evenly;
        width: 95%;

        h1 {
            font-size: 22px;
        }

    }

    .row-explainer {

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }
    }

    .ob-2 {
        justify-content: space-evenly;
        width: 95%;

        h1 {
            font-size: 22px;
        }
    }

    .row-image img {
        height: auto;
        width: 100%;
    }

    // stats
    .stats-explain p {
        width: 94%;
    }

    .stats-explain h1  {
        font-size: 65px;
    }

    .noti-explain h1 {
        font-size: 65px;
    }

    .noti-explain p {
        width: 94%;
    }

    // style guide 
    .style-image {
        width: 40%;
    }

    // case study 
    .case-heading h1 {
        font-size: 60px;
    }

    .case-heading p {
        width: 79%;
    }

    #laptop {
        width: 500px;
    }



}
