#web-title {
    font-size: 30px;
}

#web-phL {
    background-color: rgb(9, 9, 9);
}

#web-header-right-image {
    background-image: url(/Images/png/web-logo.png);
    background-color: rgb(9, 9, 9);
}

#web-tags {
    color: rgb(9, 9, 9);;
}

#web-pi-r {
    img {
        height: auto;
        width: 230%;
    }
}

#web-title-con {
    width: 30%;
    align-items: flex-end;

    h1 {
        width: 60%;
        margin-right: 0;
        margin-left: 40%;
        font-size: 50px;
        border-bottom: 10px solid #090909;
    }

    p {
        width: 59%;
        margin-left: 41%;
    }
}

#web2-title-con{
    width: 30%;
    align-items: flex-start;

    h1 {
        width: 71%;
        margin-right: 40%;
        margin-left: 0;
        font-size: 50px;
        border-bottom: 10px solid #090909;
    }

    p {
        width: 63%;
        margin-left: 0;
    }
}

#web-mc {
    width: 70%;

    video {
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
}

#web-con {
    flex-direction: row;
}

.launch-website {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 90%;
    background-color: rgb(9, 9, 9);
    border-radius: 15px;
    text-decoration: none;
    color: #fff;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;
        margin-top: 25px;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 30%;
       margin-top: -40px;
    }
}

#web-more {
    color: #090909;

    a {
        color: #090909;
    }

    a:hover {
        border-bottom: 10px solid #090909;
    }
}


@media only screen and (min-width: 1025px) and (max-width:1440px) { 
    #web-pi-r img {
        width: 280%;
    }


}