.FM-ph-L {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 45%;
  border-radius: 15px 0px 0px 15px;
  background-color: #F17D7C;
}

.FM-ph-R {
  height: 100%;
  width: 45%;
  background-color: #F17D7C;
  background-image: url(/Images/png/fom-tiled.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 0px 15px 15px 0px;
}

#fom-tags {
  color: #F17D7C;
}

#fom-title {
  font-size: 30px;
}

.fb-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
  width: 100%;
  padding: 0 5% 0 5%;
}

.fb-title-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 50%;
}

.fb-title-con h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40%;
  width: 40%;
  margin-right: 60%;
  font-size: 70px;
  border-bottom: 10px solid #F17D7C;
}

.fb-title-con p {
  width: 80%;
  height: 60%;
  font-size: 18px;
  line-height: 23px;
}

.fb-middle-con {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fb-middle-con img {
  pointer-events: none;
  margin-top: 100px;
  height: auto;
  width: 100%;
  z-index: 2;
}

.fb-video-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43%;
  width: 75%;
  margin-top: -826px;
  z-index: 1;
  overflow: hidden;
}

.fb-video-con video {
  margin-top: 84px;
  height: auto;
  width: 100%;
}

#insta-con {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#insta-title-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
}

#insta-title-con h1 {
  margin-right: 0;
  width: 80%;
}

.insta-rightCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 25%;
  margin-top: -200px;
}

.insta-rightCon img {
  pointer-events: none;
  width: 98%;
  z-index: 2;
}

.insta-middle-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 25%;
  margin-top: 200px;
}

.insta-middle-con img {
  pointer-events: none;
  width: 98%;
  z-index: 2;
}

.insta-FarrightCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 25%;
  margin-top: 200px;
}

.insta-FarrightCon img {
  pointer-events: none;
  width: 98%;
  z-index: 2;
}

.insta-video-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32vw;
  width: 80%;
  margin-top: -960px;
  z-index: 1;
}

.insta-video-con video {
  height: 100%;
  width: auto;
}

#pin-con {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#pin-title-con {
  width: 50%;
}

#tt-con {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#tt-title-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
}

#tt-title-con h1 {
  margin-right: 0;
  width: 80%;
}

#tt-mc {
  margin-top: -20px;
}

#tt-rc {
  margin-top: 200px;
}

#tt-fc {
  margin-top: -20px;
}

#twitter-vid-con video {
  margin-top: -18px;
  height: 400px;
  width: 100%;
}

#g-title-con {
  width: 45%;
}

#g-title-con h1 {
  width: 60%;
  margin-right: 0;
  margin-left: 50%;
}

#g-title-con p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-left: 50%;
}

#gA-con {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#yt-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20%;
  width: 100%;
}

#yt-tittle h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 0;
  margin-bottom: 5px;
}

#yt-tittle p {
  width: 50%;
  text-align: center;
}

#yt-con {
  height: 1800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-video-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
  width: 100%;
}

#yt-mc {
  height: 33%;
  width: 48%;
  margin-top: 0;
}

#yt-mc video {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

#yt-rc {
  height: 33%;
  width: 48%;
  margin-top: 0;
}

#yt-rc video {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

#yt-fc {
  height: 33%;
  width: 100%;
  margin-top: -455px;
}

#yt-fc video {
  height: auto;
  width: 97%;
  border-radius: 15px;
}

#case-study {
  height: auto;
  width: 100%;
}

#case-mc {
  height: 100%;
  width: 100%;
  margin-top: 0;
}

#case-mc video {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

#case-con {
  height: 1300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
}

#fom-more a {
  color: #F17D7C;
}

#fom-more a:hover {
  border-bottom: 5px solid #F17D7C;
}

@media only screen and (min-width: 2000px) {
  .insta-video-con video {
    height: 84%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .ph-L-title h1 {
    font-size: 40px;
  }
  .pi-r img {
    height: auto;
    width: 145%;
  }
  .fb-video-con {
    height: 33%;
    width: 75%;
    margin-top: -837px;
  }
  .insta-video-con {
    height: 30vw;
    width: 80%;
    margin-top: -946px;
  }
  #insta-title-con {
    width: 30%;
  }
  .fb-title-con h1 {
    font-size: 60px;
    width: 45%;
  }
  #yt-con {
    height: 1600px;
  }
  #case-con {
    height: 1000px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  #fom-title {
    font-size: 16px;
  }
  .ph-L-subtext p {
    font-size: 12px;
    line-height: 25px;
  }
  .fb-title-con h1 {
    font-size: 40px;
  }
  .fb-video-con {
    height: 25%;
    width: 75%;
    margin-top: -848px;
  }
  .insta-video-con {
    height: 30vw;
    width: 80%;
    margin-top: -921px;
  }
  #insta-title-con {
    width: 30%;
  }
  #insta-title-con h1 {
    font-size: 40px;
  }
  #twitter-vid-con {
    height: 22%;
    width: 75%;
    margin-top: -794px;
  }
  #yt-con {
    height: 1200px;
  }
  .right-video-con {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #yt-fc {
    margin-top: 0;
  }
  #case-con {
    height: 900px;
  }
}
/*# sourceMappingURL=fom.css.map */